@import "./global";
@import "./colors";

.Home {
  padding: 100px 50px 50px 50px;
  color: $white;
}

.full-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 2%;

  div{
    text-align: center;
  }
  img{
    border-radius: 50%;
    width: 100%;
  }
  h2{
    margin-top: 5px;
  }
}
