.navbar {
  background-color: #010118;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
.navbar .logo-container {
  margin-left: 20px;
  width: 300px;
  height: 100%;
  float: left;
  z-index: 100;
}
.navbar img {
  width: 90px;
  height: 90%;
}
.navbar span {
  color: white;
  position: absolute;
  right: 1.5%;
  z-index: 100;
}
.navbar .search-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: top;
  z-index: 100;
  height: 28px;
  width: 200px;
  position: relative;
}
.navbar .search-container input {
  height: 100%;
  width: 100%;
  background-color: rgb(10, 10, 80);
  color: white;
  border: none;
  outline: 0;
  border-radius: 5px 0 0 5px;
  padding-left: 15px;
}
.navbar .search-container .search-icon {
  box-sizing: border-box;
  height: 100%;
  background-color: rgb(10, 10, 80);
  border-radius: 0 5px 5px 0;
  padding: 7.5px;
  color: white;
  cursor: pointer;
}
.navbar .search-box {
  position: absolute;
  z-index: 200;
  width: 100%;
  background-color: rgb(188, 188, 188);
  right: 0;
  top: 28px;
  border-radius: 5px;
  box-sizing: border-box;
  max-height: 300px;
  overflow-y: scroll;
  padding: 10px 0;
}
.navbar .search-box p {
  padding: 4px 10px;
  cursor: pointer;
  transition: background-color 0.4s;
  margin: 0;
  color: black;
}
.navbar .search-box p:hover {
  border-radius: 10px;
  background-color: rgb(224, 224, 224);
}
.navbar .search-box::-webkit-scrollbar {
  width: 8px;
  background-color: white;
  border-radius: 10px;
}
.navbar .search-box::-webkit-scrollbar-track {
  width: 20px;
}
.navbar .search-box::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(95, 95, 95);
  width: 1px;
}
.navbar .navigation_to_pages {
  width: 40%;
  float: right;
}
.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar li {
  color: white;
  cursor: pointer;
}
.navbar a {
  color: white;
  text-decoration: none;
}
@media screen and (max-width: 992px) {
  .navbar span {
    display: block !important;
  }
  .navbar .normalUl {
    display: none;
  }
  .navbar .responsiveUl {
    display: flex;
    flex-direction: column;
    list-style: none;
    position: absolute;
    background-color: #0a0a31;
    width: 100%;
    right: 0;
    top: -20%;
    padding: 60px 0 10px 0;
    text-align: center;
  }
  .navbar .responsiveUl li {
    width: 100%;
    padding: 7px 0;
    border-radius: 10px;
    transition: all 0.5s;
  }
  .navbar .responsiveUl a {
    width: 100%;
    transition: all 0.5s;
  }
  .navbar .responsiveUl li:hover {
    background-color: white;
    color: black;
  }
  .navbar .responsiveUl li:hover a {
    background-color: white;
    color: black;
  }
}

.login-outer-container {
  background-color: #010118;
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-inner-container {
  width: 40vw;
  height: 60vh;
  background-color: rgb(24, 17, 98);
  color: white;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-inner-container a {
  text-decoration: none;
  color: white;
}

.Home {
  padding: 100px 50px 50px 50px;
  color: white;
}

.full-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 2%;
}
.full-container div {
  text-align: center;
  position: relative;
}
.full-container div:hover .play-btn {
  width: 50px;
  height: 50px;
}
.full-container img {
  border-radius: 50%;
  width: 100%;
}
.full-container .play-btn {
  position: absolute;
  top: 48%;
  right: 10%;
  background-color: green;
  border-radius: 50%;
  transition: all 0.3s ease-in;
  width: 0;
  height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.full-container .triangle {
  width: 0;
  height: 0;
  border-top: 0.5rem solid transparent;
  border-left: 0.9rem solid white;
  border-bottom: 0.5rem solid transparent;
}
.full-container h2 {
  margin-top: 5px;
}

.playlist_by_caegories {
  padding: 100px 50px 50px 50px;
  color: white;
}
.playlist_by_caegories a {
  text-decoration: none;
}

.playlist {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  background-color: rgba(26, 25, 25, 0.8);
  align-items: center;
  font-size: 0.8rem;
  margin-top: 10px;
  padding: 5px 30px 0 30px;
}
.favoutire{
  justify-content: space-between;

}
.playlist_left_container{
  display: flex;
  align-items: center;
}
.playlist .icon {
  color: rgb(212, 212, 212);
}
/* .playlist div {
  margin-left: 20px;
} */
.playlist .playlist_img {
  width: 50px;
  margin-left: 20px;
}
.playlist img {
  width: 100%;
  height: 100%;
}
.playlist .description {
  line-height: 0;
  color: white;
  margin-left: 20px;

}

.player-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 100px 50px 50px 50px;
}

.track_img {
  border-radius: 50%;
  width: 30%;
  overflow: hidden;
  margin-bottom: 2rem;
}

.track_description {
  text-align: center;
  margin-bottom: 2rem;
}
.track_description #audio-player {
  background-color: red;
  z-index: 100;
}

.icons_container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(26, 25, 25, 0.8);
  border-radius: 10px;
  padding: 10px 0;
}
.icons_container .heart-icon {
  width: 110px;
}
.icons_container .heart-icon * {
  font-size: 1.5rem;
  cursor: pointer;
}
.icons_container .volume-icons {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.middle_icons * {
  margin-left: 20px;
  font-size: 2rem;
  cursor: pointer;
}

.range {
  -webkit-appearance: none;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  overflow: hidden;
  margin-left: 1rem;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: rgb(136, 136, 136);
  box-shadow: -110px 0 0 100px rgb(0, 115, 4);
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #010118;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/*# sourceMappingURL=index.css.map */
